@font-face {
    font-family: wweaversFont;
    src: url('/static/css/FjallaOne-Regular.ttf');
}

* {
	font-family: sans-serif, wweaversFont;
}

p {
    margin: 0;
}

.small-text {
    margin-top: 15%;
}

body {
    background-color: #fbfbfb;
}

a, a:hover {
    outline: none;
    color: rgba(0,0,0,.9);
    /*font-weight: bold;*/
}

.lefter {
    float: left;
}

.righter {
    float: right;
}

.menu ul li a {
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.home {
    background-image: url('/static/css/pencil.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.home-section {
    padding: 5% 10%;
}


.active{
background-image: url("/static/css/active.png");
background-repeat: repeat-x;
}

.navbar {
padding-top: 0;
padding-bottom: 0;
background: transparent;
}

/* Learn More Section */

.cover-photo{
    display: block;
    width: 100%;
    opacity: 1;
    height: 448px;
    object-fit: contain;
    object-position: right;
}

.overlay {
    position: relative;
    float: left;
}

.overlay:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.cs-landing-cover-photo.overlay{
    width: 100%;
    height: 450px;
}

.cs-landing-cover-photo .cover-photo-layover{
    text-align: left;
    color: black;
    position: absolute;
    top: 65%;
    left: 20%;
    transform: translate(-20%, -65%);
    -ms-transform: translate(-20%, -65%);
}

.cover-photo-layover h3{
    max-width: 900px;
    margin: 0;
    float: left;
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 0.9px;
    width: 100%;
}

.cover-photo-layover h5{
    margin: 0;
    float: left;
    max-width: 800px;
    padding-bottom: .5em;
    color: rgba(0, 0, 0, 0.67);
    font-size: 16px;
    width: 100%;
}

.pd-bt-1 {
    padding-bottom: 1rem;
}

.cover-photo-layover button{
    border-radius: 18px;
    background-color: #b33750;
    border: none;
    text-align: center;
    padding: 3%;
    cursor: pointer;
    width: 80%
}

.btn-content {
    padding-left: 0;
}

.cover-photo-layover button p {
    font-size: 20px;
    color: white;

}

.cover-photo-layover button:hover {
    background-color: #962e44;
}

/* Learn More Section End */

/* About Us Section */

#about {
    padding: 4rem 3.5rem 3rem 3.5rem;
    margin: auto;
}

.about-icons {
    display: flex;
    flex-wrap: nowrap;
    padding: 5%;
    width: 100%;
}

.about-icons > div {
    width: 33.33%;
    text-align: center;
    font-size: x-small;
}

.about {
    text-align: center;
}

.about p {
    font-size: 20px;
    letter-spacing: 1px;
}

.about-us-title {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.about-icons-title {
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.67);
}

@media (min-width: 580px) {
    .about-icons > div {
        font-size: small;
    }
}

/* About Us Section End */


/* Services Section */

#services {
    background-color: #fddae13d;
    padding: 120px 40px;
}

.section-services .container{
    margin: auto;
    max-width: 1300px;
}

.section-services .container .services-img{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    padding-left: 4rem;
    justify-content: center;
}

.services-img img{
    width: 270px;
}

.services-content{
    padding-left: 3rem;
}

.services-content h3, .contact-details h3, #about h3 {
    font-weight: bold;
    margin-bottom: 2rem;
}

.services-content p {
    margin-bottom: 1rem;
}

.section-services .container p, .section-services .container ul{
    font-size: 21px;
    color: rgba(0, 0, 0, 0.67);
}

.section-services .container ul{
    padding-left: 0;
}

.section-services .container ul li{
    margin: .6rem 0;
}

.section-services .container ul {
    list-style-type: none;
}

.section-services .container ul li:before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: 20px;
    background-image: url('/static/css/tick-inside-circle.svg');
    background-repeat: no-repeat;
    margin-right: 15px;
}

/* Services Section End */


/* Contact Us Section */

.contact-item {
    margin-left: 15px;
}

#map {
    height: 400px;
    background-color: grey;
}

.container-contact{
    max-width: 1300px;
    margin: auto;
}

.contact-box {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-details .contact-info {
    margin-bottom: .8rem;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.67);
}

.contact-details .contact-info .fas {
    color: rgba(82, 25, 36, 0.74);
}

/* Contact Us Section End */


