{% extends "staticpage/base.html" %}
{% load static %}
{% block title %}WriteWeavers | Home {% endblock %}
{% block css %}
        <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
{% endblock %}

{% block content %}

    <section class="section cs-cover-section" id="home">
      <div class="row cs-landing-cover-photo overlay">
        <img class="img-fluid cover-photo" src="{% static 'css/pencil.png' %}">
        <div class="row cover-photo-layover col-sm-6">
          <h5>Helping Businesses, Non-Profits, Individuals</h5>
          <h3>Create And Deliver</h3>
          <h3 class="pd-bt-1">Quality Communication Material</h3>
          <div class="col-sm-6 col-sm-offset-3 btn-content">
            <button class="btn btn-block">
              <p>Learn More</p>
            </button>
          </div>
        </div>
      </div>
    </section>

    <div class="row about container" id="about">
        <div class="about-us-title"><h3>About Us</h3></div>
        <div class="about-us-content"><p>WriteWeavers is a company formed to address the needs of quality communication
        services in Nepal. We specialize in written communication and PR services.
        We help businesses, non-profits and individuals develop timely, relevant, media-ready
        content keeping in mind their needs of connecting to an increasingly
        educated and aware audience.</p>
        </div>

        <div class="about-icons">
            <div>
                <div><img src="{% static 'css/megaphone.svg' %}" alt="Media Outreach" style="width: 50px; fill: green"></div>
                <div class="about-icons-title">Media Outreach</div>
            </div>
            <div>
                <div><img src="{% static 'css/contract.svg' %}" alt="Content Management" style="width: 50px"></div>
                <div class="about-icons-title">Content Management</div>
            </div>
            <div>
                <div><img src="{% static 'css/hand-shake.svg' %}" alt="PR Services" style="width: 50px"></div>
                <div class="about-icons-title">PR Services</div>
            </div>
        </div>

    </div>

    <div class="section section-services" id="services">
        <div class="row container">
            <div class="col-sm-4 services-img">
                    <img src="{% static 'css/support.svg' %}" />
            </div>
            <div class="col-sm-8 services-content">
                <h3>Our Services</h3>
                <p>Our Service portfolio includes, but is not limited to the following:</p>
                <ul>
                    <li>Planning, writing and editing articles for magazines and broadsheets</li>
                    <li>Planning and executing customized publicity and communication material</li>
                    <li>Writing, editing and proofreading reports and proposals</li>
                    <li>Translation Services</li>
                    <li>Planning, writing, revising content for websites and other digital media</li>
                    <li>Ghostwriting services for individuals and organizations</li>
                    <li>Providing skills training on effective business communication practices</li>
                    <li>Public Relations & Media Consultants</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="contact" id="contact">
        <div class="row container container-contact">
            <div class="col-sm-4 contact-box">
                <div class="contact-details">
                    <h3>Contact Us</h3>
                    <div class="contact-info">
                        <a>
                            <i class="fas fa-phone-alt"></i>
                            +977-1-500000
                        </a>
                    </div>
                    <div class="contact-info">
                        <a>
                            <i class="fas fa-envelope"></i>
                            writeweavers@gmail.com
                        </a>
                    </div>
                    <div class="contact-info">
                        <a>
                            <i class="fas fa-map-marker-alt"></i>
                            Krishna Galli, Patan, Nepal
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 map-location">
                <div class="map" id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3533.2107715968336!2d85.3193735716402!3d27.679879799814277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19c88bbb63db%3A0xbdb5c0daaae30681!2sWriteWeavers!5e0!3m2!1sen!2snp!4v1564552084654!5m2!1sen!2snp" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}

{#    google maps api to be used but not billing account#}
{#    will have to use image for now#}
{##}
{#    <script>#}
{#        function initMap() {#}
{#          var uluru = {lat:25.344 , lng:85.3206826};#}
{##}
{#          var map = new google.maps.Map(document.getElementById('map'), {#}
{#            zoom: 4,#}
{#            center: uluru#}
{#          });#}
{##}
{#          var marker = new google.maps.Marker({#}
{#              position: uluru,#}
{#              map: map#}
{#            });#}
{##}
{#        }#}
{##}
{#    </script>#}
{#        <script async defer#}
{#        src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap">#}
{#    </script>#}
{##}
{#    <script>#}
{#        $( document ).ready(function() {#}
{#            initMap();#}
{#        });#}
{#    </script>#}
{% endblock %}