{% extends "staticpage/base.html" %}

{% block title %}WriteWeavers | Home {% endblock %}

{% block content %}

<div class="home home-section"  id="home">
    <sapn class="small-text">Helping Businesses, Non-Profits, Individuals</sapn><br>
    <sapn class="big-text"><b>Create And Deliver</b></sapn><br>
    <sapn class="big-text"><b>Quality Communication Material</b></sapn><br>
    <button type="button" class="learn-more-btn">Learn More</button>
</div>

<div class="about home-section" id="about">
    <div class="big-text about-us-title"><p><b>About Us</b></p></div>
    <div><p>WriteWeavers is a company formed to address the needs of quality communication
    services in Nepal. We specialize in written communication and PR services.
    We help businesses, non-profits and individuals develop timely, relevant, media-ready
    content keeping in mind their needs of connecting to an increasingly
    educated and aware audience.</p>
    </div>

    <div class="about-icons">
        <div>
            <div><img src="/static/css/megaphone.svg" alt="Media Outreach" style="width: 50px; fill: green"></div>
            <div class="about-icons-title">Media Outreach</div>
        </div>
        <div>
            <div><img src="/static/css/contract.svg" alt="Content Management" style="width: 50px"></div>
            <div class="about-icons-title">Content Management</div>
        </div>
        <div>
            <div><img src="/static/css/hand-shake.svg" alt="PR Services" style="width: 50px"></div>
            <div class="about-icons-title">PR Services</div>
        </div>
    </div>
</div>

<div class="services home-section" id="services">
    <div class="big-text" ><p><b>Our Services</b></p></div>
    <p>Our Service portfolio includes, but is not limited to, the following</p>
    <ul>
        <li>Planning, writing and editing articles for magazines and broadsheets</li>
        <li>Planning and executing customized publicity and communication material</li>
        <li>Writing, editing and proofreading reports and proposals</li>
        <li>Translation Serviecs</li>
        <li>Planning, writing, revising content for websites and other digital media</li>
        <li>Ghostwriting services for individuals and organizations</li>
        <li>Providing skills training on effective business communication practices</li>
        <li>Public Relations & Media Consultants</li>
    </ul>
</div>

<div class="contact home-section group">
    <div class="contact-details lefter">
        <ul>
            <li><img src="/static/css/telephone.svg" alt="Phone Number" style="width: 20px"><span class="contact-item">+977-1-500000</span></li>
            <li><img src="/static/css/telephone.svg" alt="E-mail Address" style="width: 20px"><span class="contact-item">writeweavers@gmail.com</span></li>
            <li><img src="/static/css/location.svg" alt="Location" style="width: 20px"><span class="contact-item">Krishna Galli, Patan, Nepal</span></li>
        </ul>
    </div>
    <div class="map righter">
        map
    </div>
</div>

{% endblock %}